:root {
  --them_primaryColor: #93a8ac;
  --them_button_color: #93a8ac;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300 !important;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header {
  background-color: #424b54;
  padding: 15px 0;
  border-bottom: 1px solid var(--them_primaryColor);
}

.loginBtn {
  background-color: var(--them_primaryColor);
  border: none;
  padding: 10px 31px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 8px 0px 0px #fff;
  color: #000 !important;
  text-decoration: none;
  line-height: 47px;
  cursor: pointer;
}
.react-responsive-modal-modal {
  max-width: 96% !important;
}
.exit {
  background-color: red !important;
  color: #fff !important;
}
.headertp {
  border-bottom: 1px solid var(--them_primaryColor);
}
.headermain {
  background: rgb(155, 106, 108, 86%);
  padding-bottom: 12px;
}
.headerMenu ul li {
  display: inline-block;
}
.headerMenu ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 24px 15px 0px;
}
.rightMenu ul li {
  display: inline-block;
}
.rightMenu ul li a {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 15px;
  color: #fff;
}
.bannerHome {
  background: url("../images/banner.jpg");
  padding: 50px 0 80px;
  background-size: cover;
}
.hbanner {
  background: url("../images/hbanner.png");
  padding: 100px 0 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.ourStoryCont h3 {
  color: #be8d93;
  font-weight: 500 !important;
}
.bannerSec {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #e2e2e2;
}
.bannerWlcomeHeading {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}
.bannnercolorHaed {
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  margin-bottom: 48px;
}
.commonColor {
  color: #000;
}
.bannerText {
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  font-weight: 300;
  font-family: "Jost", sans-serif;
}
.bannerBtn {
  background-color: #424b54;
  color: #fff !important;
  padding: 6px 31px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 8px 0px 0px var(--them_primaryColor);
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}
.bannerBtn a {
  color: #ff647c !important;
}
.bannerimg {
  width: 100%;
  object-fit: contain;
  height: 400px;
}
.searchSec {
  background: rgba(209, 189, 159, 50%);
  padding: 10px;
}
.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  width: 100%;
}

.search {
  display: inline-block;
}

.search input {
  width: 100%;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 30px 0;
}
.search input:focus {
  outline: none;
}
.search input {
  text-indent: 32px;
}
.search i {
  position: absolute;
  left: auto;
  right: 25px;
  top: 20px;
  font-size: 30px;
}

.search i {
  left: auto;
  right: 10px;
}

/* .userSection{
  background-color: #fff;
} */
.usertypeBox {
  background-color: #424b54;
  border-bottom: 5px solid #424b54;
  padding: 10px;
  margin-top: 5rem;
  transition: all 0.5ms;
  border: 1px solid #424b54;
}
.usertypeBox span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 3px dashed #fff;
  height: 230px; */
  border-radius: 5px;
  transition: all 0.5ms;
  flex-direction: column;
}
.usertypeBox span a {
  font-size: 33px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Jost";
  text-decoration: none;
  transition: all 0.5s;
}

.userBtn {
  opacity: 0;
  transition: all 0.5s ease-out;
  margin-bottom: -169px;
}
.usertypeBox:hover .userBtn {
  opacity: 1;
  margin-bottom: 0;
  transition: all 0.5s;
}
.sellerBox {
  transition: 0.5s;
  overflow: hidden;
}
.sellerBox span {
  border: 3px dashed #000;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s;
}
.sellerBox span a {
  color: #000;
}
.userBtn a {
  font-size: 15px !important;
  background: #000;
  display: inline-block;
  margin-left: 15px;
  color: #fff !important;
  padding: 5px 20px;
  border-radius: 7px;
  text-transform: uppercase;
}
.partner {
  background-color: #fff;
  padding: 50px 0 70px;
}
.partner .menuimgBox {
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.partner .menuimgBox img {
  width: 70%;
  height: 100px;
  object-fit: contain;
}
.partnerHeading {
  font-size: 36px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  text-align: center;
}
.ourStory {
  background-color: #f1f3f8;
  padding: 100px 0px;
}
.ourStoryCont h2 {
  font-size: 45px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  font-family: "Jost", sans-serif;
}
.ourImgSec {
  background-color: #000000;
  border-radius: 50px 0px 50px 20px;
  box-shadow: 55px -60px 6px var(--them_primaryColor);
  margin-top: 5rem;
}
.ourImgSec img {
  width: 100%;
  margin-right: 0;
  box-shadow: 34px -40px 0px #000;
  border-radius: 50px 0px 50px 20px;
}
.footer {
  background-color: #424b54;
  padding: 100px 0px 20px;
}
.footer img {
  width: 100%;
  object-fit: contain;
}

.fotterMenu ul li {
  display: inline-block;
}
.fotterMenu ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0px 22px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}
.fooetrInput {
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 7px 0px 16px;
}
.fooetrInput:focus {
  outline: none;
}
.fooetrInput::-webkit-input-placeholder {
  color: #fff;
  font-family: "Jost", sans-serif;
}
.userTextFoter {
  color: #f1eae0;
  font-family: "Jost", sans-serif;
  margin-bottom: 0;
}
.socilIcon li {
  display: inline-block;
  color: #fff;
}
.socilIcon li a {
  display: inline-block;
  color: #fff;
  padding: 10px 26px;
  font-size: 28px;
}
.getTouch {
  background: url("../images/contactimg.png");
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.getTouch::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(200, 174, 135, 80%);
  content: "";
  width: 100%;
}
.conatctInput {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 24px 15px;
}
.conatctInput:focus {
  outline: none;
}
.sendMessage {
  background-color: #000000;
  padding: 15px 20px;
  color: #fff;
  font-family: "Jost", sans-serif;
  margin-top: 3rem;
  font-size: 23px;
}
.countSec {
  position: relative;
  color: #fff;
}
.countBang {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--them_primaryColor);
  border-radius: 50%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginSec {
  background: url("../images/banner.jpg");
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannerSec img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.loginSec {
  margin: 0;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-family: "Jost", sans-serif;
  /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
}
.main {
  width: 430px;
  background: rgb(147, 168, 171, 86%);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding-bottom: 25px;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  top: 17px;
}
.signup label {
  margin-top: 0;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 15px 0px 0px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.main input {
  width: 70%;
  height: 37px;
  background: #f9f9f9;
  justify-content: center;
  display: flex;
  margin: 0px auto 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.signup span {
  margin-left: 4rem;
}
.customBtn {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.customBtn:hover {
  background: #6d44b8;
}
.login {
  height: 616px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #573b8a;
  transform: scale(0.6);
}
/* .loginCont{
  margin-top: 4rem;
} */

#chk:checked ~ .login {
  transform: translateY(-686px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
.forgotPass {
  color: red;
  text-transform: capitalize;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 2rem;
}
.disableBtn {
  color: #8f8f93;
  cursor: no-drop;
  background-color: #515151;
}

.formErrorAlrt {
  font-size: 12px;
  margin: 0;
  color: #ac0000;
}

.signup .formErrorAlrt {
  font-size: 12px;
  color: #bd1212;
  width: 70%;
  margin: auto;
}
.mobileNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileCode {
  width: 85px;
  height: 38px;
  border-radius: 5px 0px 0px 5px;
}
.mobileNumberF {
  margin: 3px 3px 3px 0 !important;
  width: 50% !important;
  border-radius: 0px 6px 6px 0px !important;
}
.userType {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redioBtn {
  width: 17px !important;
  margin: 0px 14px !important;
}
.userType label {
  font-size: 15px;
  margin-top: 0;
}
.headingSing {
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-top: 5rem;
}
.verification {
  height: auto !important;
}
.resend {
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}
.message {
  color: greenyellow;
  text-align: center;
}
.forgot label {
  color: #000;
}
.forgotOtp {
  justify-content: center;
}
.userDashboard {
  padding: 100px 0px;
  background: #637c96;
}
.userSideBar {
  border-right: 1px solid #ccc;
}
.userSideBar li {
  display: block;
}
.userSideBar li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  margin-bottom: 20px;
  padding: 20px 5px;
}
.userSideBar li a span {
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: var(--them_primaryColor);
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tabs-left {
  border-bottom: none;
  border-right: 1px solid #ddd;
}

.tabs-left > li {
  float: none;
  margin: 0px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background: #f90;
  border: none;
  border-radius: 0px;
  margin: 0px;
}
.nav-tabs > li > a:hover {
  /* margin-right: 2px; */
  line-height: 1.42857143;
  border: 1px solid transparent;
  /* border-radius: 4px 4px 0 0; */
}
.tabs-left > li.active > a::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f90;
  display: block;
  width: 0;
}

.bannerSec .nav-link {
  margin-bottom: 25px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  text-align: left;
  color: #000;
  background: whitesmoke;
}
.bannerSec .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #9b6a6cdb;
}

.bannerSec .nav-pills {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}
/* .bannerSec  .tab-content{
  width: 70%;
} */
.bannerSec .tab-content label {
  color: #787171;
  font-size: 15px;
  text-align: left;
  display: block;
}
.menuHading {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 500 !important;
  font-size: 20px;
}
.menufecHeading {
  margin-top: 1rem;
  color: var(--them_primaryColor);
}
.menuimgBox {
  box-shadow: 0px 0px 15px #ccc;
  border-radius: 7px;
  background: #424b54;
  padding: 6px;
  margin-bottom: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menuimgBox img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.menuimgBox .form-check-input {
  width: 20px;
  height: 20px;
}
.logo img {
  width: 100%;
}
.logout {
  background-color: red !important;
  color: #fff !important;
  text-align: center !important;
}
.userBadsg {
  background-color: #424b54;
  padding: 50px 0;
}
.react-responsive-modal-modal .modal-content {
  /* width: 500px; */
  border: none;
}
.editPro .mobileNumberF {
  width: 80% !important;
  padding: 7px;
  border: 1px solid #ced4da;
}
.enquery {
  background: #a17335;
  color: #fff !important;
}
.enqLable {
  font-size: 15px;
  color: #625f5f;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}
.checkBox {
  background-color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #ccc;
  margin-right: 6px;
  cursor: pointer;
}
.checkBOx {
  width: 33px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 5px 4px;
  cursor: pointer;
}
.seacrhBoxSr {
  border-radius: 50px;
  padding: 6px 15px;
  border: none;
  width: 100%;
  transition: 0.5s;
}
.seacrhBoxSr:focus {
  outline: none;
}
.searchBox {
  width: 60%;
  transition: 0.5s;
}
.checkBOx i {
  color: red;
}
.chatIcon {
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}
.table-darks {
  background-color: #424b54;
}
.table-darks th,
td,
tr {
  color: #fff;
}

.buyerBannrBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8b5759;
  height: 150px;
  border-radius: 5px;
}
.buyerBannrBox i {
  font-size: 50px;
}
.bannerSec a {
  text-decoration: none;
  color: #424b54;
}
.bannerSec a h3 {
  color: #424b54;
  font-size: 31px;
}
.sectionBtm {
  width: 80%;
  margin: 22px auto 15px;
  font-size: 14px;
  text-align: center;
}
.loginAll {
  height: 450px !important;
}

.c-dashboardInfo {
  margin-bottom: 15px;
}
.c-dashboardInfo .wrap {
  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 40px 25px 20px;
  height: 100%;
}
.c-dashboardInfo__title,
.c-dashboardInfo__subInfo {
  color: #6c6c6c;
  font-size: 1.18em;
}
.c-dashboardInfo span {
  display: block;
}
.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 2.5em;
  line-height: 64px;
  color: #323c43;
}
.c-dashboardInfo .wrap:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.c-dashboardInfo:nth-child(1) .wrap:after {
  background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
}
.c-dashboardInfo:nth-child(2) .wrap:after {
  background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
}
.c-dashboardInfo:nth-child(3) .wrap:after {
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}
.c-dashboardInfo:nth-child(4) .wrap:after {
  background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
}
.c-dashboardInfo__title svg {
  color: #d7d7d7;
  margin-left: 5px;
}
.MuiSvgIcon-root-19 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}
.loginCont span {
  margin-left: 4rem;
  margin-bottom: 15px;
}
.loginCont input {
  margin: 5px auto 20px !important;
}
.dashMenu {
  height: auto;
  background: none;
  border: 1px solid #ccc;
  box-shadow: none;
}
.dashMenu .menufecHeading {
  margin-top: 0rem;
  color: #000000;
  font-size: 16px;
  font-weight: 500 !important;
}
.messageTable {
  margin: 100px 0;
}
.messageC {
  background: #424b54;
  padding: 25px;
  box-shadow: 0px 0px 25px #8c8c8c;
  border-radius: 10px;
}
.messageC img {
  width: 50%;
}
.checkAcount i {
  color: #08c10e;
  font-size: 40px;
  line-height: 35px;
}
.sideBarUser {
  border-right: 1px solid #ccc;
  height: 480px;
  overflow-y: scroll;
}
.sideBarUser li {
  /* background-color: #a97f81; */
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 15px;
  text-align: left;
  border-bottom: 3px solid #f7f0f0;
}
.sideBarUser li:last-child {
  border-bottom: none;
}
.sideBarUser::-webkit-scrollbar {
  width: 10px;
}
.headerTitle {
  text-align: left;
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 7px;
  border-radius: 5px;
}
.headerTitle h4 {
  color: #424b54;
  font-weight: 600 !important;
  margin-bottom: 0;
  font-size: 15px;
}

.scroll {
  height: 350px;
}
.react-scroll-to-bottom--css-jtrav-1n7m0yu::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

.subscribe_form {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
}
.subscribe_form:focus {
  outline: none;
}
.subscribe_form .form-control {
  border: none;
}
.subscribe_form .form-control:focus {
  box-shadow: none;
}
.subscribe_form input {
  height: 44px;
}
.subscribe_form button {
  border: none;
  height: 44px;
  background-color: #0ed085;
  color: #fff;
  margin: -1px;
  border-radius: 0;
  width: 135px;
  text-transform: uppercase;
  position: relative;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:hover,
.subscribe_form button:focus,
.subscribe_form button:active,
.subscribe_form button:visited {
  color: #fff;
  background-color: rgba(14, 208, 133, 0.77);
  outline: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:hover:before,
.subscribe_form button:focus:before,
.subscribe_form button:active:before,
.subscribe_form button:visited:before {
  background-color: rgba(14, 208, 133, 0.77);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: #0ed085;
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form .input-group-btn:last-child > .btn,
.subscribe_form .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: 0px;
}
.messfeed {
  height: 400px;
  overflow-y: scroll;
  padding: 15px 0;
}
.messfeed::-webkit-scrollbar {
  width: 0px;
}
.message img {
  width: 53%;
}
.isResiver {
  padding: 7px 15px;
  background: rgb(155, 106, 108, 27%);
  border-radius: 5px;
  text-align: start;
  width: fit-content;
}
.isResiver p .isResiver {
  background: none;
  padding: 0;
}
.isSender {
  padding: 7px 15px;
  background: #fff;
  float: right;
  border-radius: 5px;
  text-align: end;
}
.isSender p {
  margin-bottom: 0;
  color: #424b54;
}
.isResiver p {
  margin-bottom: 0;
  color: #fff;
}
.react-input-emoji--button {
  display: none !important;
}
.messBox {
  background-color: #fff;
  width: 80%;
}

.usermessName {
  color: #bfbfbf;
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.messDate {
  font-size: 12px;
}
.messTime {
  font-size: 12px;
  display: flex;
  justify-content: end;
  margin-top: 7px;
  color: #f56c6c;
}
.react-responsive-modal-modal label {
  font-size: 15px;
  color: #2e2e2e;
  display: block;
  margin-bottom: 6px;
}
.userSend {
  background: #be8d93;
  padding: 10px;
  height: 45px;
  border-radius: 10px;
  margin-left: 10px;
  width: 7%;
  color: #fff;
  cursor: pointer;
}
.mess_type_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonS {
  background-color: #0d6efd;
  padding: 3px 7px;
  font-size: 13px;
  margin-top: 15px;
  color: #fff !important;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
  text-decoration: none;
}
.buttonSr {
  background-color: #fd0d0d;
  padding: 3px 7px;
  font-size: 13px;
  margin-top: 15px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.comandBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.proDetails li {
  display: block;
  font-size: 15px;
}
.headingPd {
  font-size: 15px;
  color: #fff;
}
.proDetails li strong {
  color: #f89a9a;
}
.isSender .headingPd {
  color: #000000;
}
.isSender .proDetails li {
  color: #424b54;
}
.isSender .isResiver {
  background: none;
  padding: 0;
}
.countMess {
  background: #ac0000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.userCoden {
  display: inline-block;
  margin-right: 5px;
  border-right: 1px solid #ccc;
  padding-right: 5px;
  line-height: 13px;
}
.userCoden:last-child {
  border-right: none;
}
.chekIcon {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f8faf5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardT h1 {
  color: #88b04b;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
.cardT p {
  color: #404f5e;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
}
.cardT i {
  color: #9abc66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}
.cardT {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.backbtn {
  background: #93a8ac;
  padding: 5px 24px;
  color: #fff !important;
  text-decoration: none;
  margin-top: 3rem;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
}
.cross {
  color: #f13737;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}
.loaderImg {
  width: 50%;
}
.submenu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  right: 0;
  top: 36px;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  text-align: start;
  box-shadow: 0px 0px 10px #5a5a5a;
  z-index: 99;
}
.noHadding {
  color: #2e2e2e;
  font-weight: 600 !important;
  text-align: center;
}
.submenu li {
  display: flex !important;
  color: #424b54;
  margin-bottom: 9px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  justify-content: space-around;
  flex-direction: column;
}
.dateTimef {
  text-align: right;
  color: #c36466;
  font-weight: 500;
  font-size: 12px;
}
.submenu li:last-child {
  border-bottom: none;
}
.ballDrop:hover .submenu {
  display: block;
}
.submenu h5 {
  background: #424b54;
  color: #fff;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: bold !important;
  border-radius: 5px;
}

.mobileToggal {
  display: none;
}

.mobileheader h3 {
  color: #fff;
  font-weight: 500 !important;
  text-align: center;
  background: #dda0a8;
  padding: 10px 0px;
}
.EZDrawer .EZDrawer__overlay {
  top: -29px !important;
  height: 110vh !important;
}
.menuHeader {
  background: #dda0a8;
}
.manuunderList li {
  display: block;
}
.manuunderList li a {
  display: block;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 10px;
  padding-left: 15px;
}
.manuunderList li:last-child a {
  border-bottom: none;
}
.mobileNotif {
  display: none;
}
/* .tramsCondi {
  width: 1000px !important;
} */
.tramsCondi img {
  width: 100%;
}
/* ? MOBILE RESPONSIVE MENU ADD */
@media only screen and (max-width: 768px) {
  .grid-70-30 {
    display: block !important;
  }
  .menuFatchDataList {
    margin-bottom: 15px;
  }
  .mobileMenu {
    display: block;
  }
  .headermain {
    display: none;
  }
  .loginBtn {
    display: none;
  }
  .mobileToggal {
    display: inline-block;
    border: none;
    background: #be8d93;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-right: 15px;
  }
  .mobileNotif {
    display: block;
  }
  .mobileView {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .countBang {
    top: -15px;
    right: -8px;
  }
  .bannerSec {
    padding: 15px;
  }
  .bannerSec .nav-pills {
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  .footer img {
    width: 50%;
    margin-top: 15px;
  }
  .usertypeBox {
    margin-top: 1rem;
  }
  .bannerHome {
    padding: 5px 0 20px;
  }
  .main {
    width: 90%;
  }
  .signup span {
    margin-left: 1rem;
  }
  .signup .formErrorAlrt {
    width: 90%;
  }
  .main input {
    width: 90%;
  }
  .mobileNumberF {
    width: 60% !important;
  }
  .bannerSec .nav-pills {
    margin-right: 0 !important;
    padding-right: 0px;
  }
  .messageTable {
    margin: 40px 0 !important;
  }
  .sideBarUser {
    border-bottom: 1px solid #ccc;
    height: 185px !important;
    margin-bottom: 15px;
    border-right: none !important;
  }
  .userSend {
    padding: 5px;
    height: 40px;
    border-radius: 6px;
    width: 15%;
  }
  .message {
    padding: 10px;
  }
  .userDashboard {
    padding: 40px 0px;
  }
  .footer {
    padding: 25px 0px 20px;
  }
  .buyerBannrBox {
    margin-bottom: 10px;
  }
  .enqurybtn {
    margin-bottom: 20px;
  }
  .react-responsive-modal-modal {
    max-width: -webkit-fill-available;
  }
  .modal-body .form-control {
    width: 50%;
  }
}

.termCond {
  background-image: url(https://res.cloudinary.com/alexandracaulea/image/upload/v1582142705/illustration_zisnja.svg);
}
main {
  padding: 10vh 1rem 0;
  display: grid;
  grid-template: 0.5fr 65px/2fr minmax(200px, 800px) 2fr;
  align-content: center;
  background: #fff;
}

.terms-and-conditions {
  grid-column: 2/3;
  grid-row: 1;
  margin: 0 auto;
  padding: 2em;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--clr-white);
}
.terms-and-conditions::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--clr-light);
}
.terms-and-conditions::-webkit-scrollbar {
  width: 15px;
  background-color: var(--clr-light);
}
.terms-and-conditions::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark-blue);
}
.terms-and-conditions h1 {
  font-size: calc(1.7rem + 0.25vw);
  line-height: 1.1;
}
.terms-and-conditions h2 {
  font-size: calc(1.2rem + 0.25vw);
  font-weight: normal;
}
.terms-and-conditions h3 {
  font-size: calc(1.1rem + 0.25vw);
  font-weight: normal;
}
.terms-and-conditions p {
  font-size: 0.95rem;
  line-height: 1.6;
}
.terms-and-conditions ul li {
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
  line-height: 1.5;
}
.terms-and-conditions ul li::marker {
  font-size: 1em;
  color: #6c63ff;
  font-family: sans-serif;
}

.term-buttons-container {
  grid-row: 2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  margin-top: -2px;
  padding: 0.7em;
  z-index: 1;
  border-top: 1px solid #f3f3f3;
  background-color: #fdfdfd;
  border-radius: 0 0 5px 5px;
}

.scroll-to-bottom {
  justify-self: start;
  align-self: center;
  margin-top: -23px;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 50%;
  background-color: rgba(83, 127, 198, 0.7);
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
}
.scroll-to-bottom:hover {
  background: #537fc6;
}
.scroll-to-bottom[aria-hidden="true"] {
  display: none;
}

[name="terms-and-conditions-form"] {
  justify-self: flex-end;
  align-self: flex-end;
}

.accept-button {
  background-color: #537ec5;
  padding: 0.7em 1.5em;
  font-size: 0.95rem;
  color: var(--clr-white);
  border-radius: 5px;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
}
.accept-button:hover {
  background: var(--clr-dark-blue);
}
.accept-button[aria-hidden="true"] {
  display: none;
}
.dropDown {
  background: #fff;
  height: 200px;
  overflow-y: scroll;
}
.dropBox {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 0px 20px #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dropDown li {
  padding-bottom: 6px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 13px;
  cursor: pointer;
}
.dropOff {
  display: block;
  text-align: end;
  cursor: pointer;
}
.forgot img {
  width: 100%;
}
.modalContent {
  text-align: center;
  font-weight: 400 !important;
}
.tremUl {
  padding-left: 45px;
}
.tremUl li {
  padding-bottom: 20px;
  list-style: circle;
  font-weight: 400;
}
.alphabetList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alphabetList li {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  /* padding: 0px 5px 0 0; */
  cursor: pointer;
  font-weight: 400;
}
.alphLable {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 500 !important;
}
.menuFatchDataList {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
  border-radius: 7px;
}
.menuFectunderList {
  height: 300px;
  overflow-y: scroll;
}
.menuFectunderList li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.checkBoxList {
  margin-right: 5px;
}
.getMenuUser {
  height: 420px;
  overflow-y: scroll;
}
.activeAcount label {
  margin: 5px 0;
}
.activeAcount h4 {
  font-size: 17px;
  margin: 5px 0px;
  font-weight: 400 !important;
  color: #ffffff;
  /* border-top: 1px solid #ccc; */
  /* padding-top: 5px; */
  background: #637c96;
  line-height: 32px;
}
.accountHead {
  font-size: 25px;
  font-weight: 500 !important;
  color: #8b3e42;
}
.stripAc {
  font-weight: 500 !important;
}
.features {
  padding: 100px 0px;
}
.videoSec {
  padding: 100px 0px;
  background-color: #f1f3f8;
}
.loaderVido {
  width: 100%;
}
.newsLatter {
  padding: 40px 25px;
  background-color: #bc8d93;
  margin-top: -13rem;
  box-shadow: 0px 5px 20px #ffcf88;
}
.newsLatter h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 600 !important;
  margin-bottom: 0;
}

.subscribe_form {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
}
.subscribe_form:focus {
  outline: none;
}
.subscribe_form .form-control {
  border: none;
}
.subscribe_form .form-control:focus {
  box-shadow: none;
}
.subscribe_form input {
  height: 44px;
}
.subscribe_form button {
  border: none;
  height: 44px;
  background-color: #0ed085;
  color: #fff;
  margin: -1px;
  border-radius: 0;
  width: 135px;
  text-transform: uppercase;
  position: relative;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:hover,
.subscribe_form button:focus,
.subscribe_form button:active,
.subscribe_form button:visited {
  color: #fff;
  background-color: rgba(14, 208, 133, 0.77);
  outline: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:hover:before,
.subscribe_form button:focus:before,
.subscribe_form button:active:before,
.subscribe_form button:visited:before {
  background-color: rgba(14, 208, 133, 0.77);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form button:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: #0ed085;
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}
.subscribe_form .input-group-btn:last-child > .btn,
.subscribe_form .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: 0px;
}

.sellerSec {
  background-color: #0084f4;
  padding: 100px 0px;
}
.innerbannerHeading {
  color: #fff;
}

.timeline {
  position: relative;
  width: 100%;
  padding: 30px 0;
}

.timeline .timeline-container {
  position: relative;
  width: 100%;
}

.timeline .timeline-end,
.timeline .timeline-start,
.timeline .timeline-year {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.timeline .timeline-end p,
.timeline .timeline-start p,
.timeline .timeline-year p {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  background: linear-gradient(#e496a0, #678f97);
  border-radius: 100px;
  box-shadow: 0 0 5px rgb(0 0 0 / 40%);
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}

.timeline .timeline-year {
  margin: 30px 0;
}

.timeline .timeline-continue {
  position: relative;
  width: 100%;
  padding: 60px 0;
}

.timeline .timeline-continue::after {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-right: 7px dotted #bd8e94;
}

.timeline .row.timeline-left,
.timeline .row.timeline-right .timeline-date {
  text-align: right;
}

.timeline .row.timeline-right,
.timeline .row.timeline-left .timeline-date {
  text-align: left;
}

.timeline .timeline-date {
  font-size: 14px;
  font-weight: 600;
  margin: 41px 0 0 0;
}

.timeline .timeline-date::after {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 45px;
  background: linear-gradient(#4f84c4, #00539c);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  z-index: 1;
}

.timeline .row.timeline-left .timeline-date::after {
  left: -7px;
}

.timeline .row.timeline-right .timeline-date::after {
  right: -7px;
}

.timeline .timeline-box,
.timeline .timeline-launch {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background: #ffffff;
}

.timeline .timeline-launch {
  width: 100%;
  margin: 15px 0;
  padding: 0;
  border: none;
  text-align: center;
  background: transparent;
}

.timeline .timeline-box::after,
.timeline .timeline-box::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline .row.timeline-left .timeline-box::after,
.timeline .row.timeline-left .timeline-box::before {
  left: 100%;
}

.timeline .row.timeline-right .timeline-box::after,
.timeline .row.timeline-right .timeline-box::before {
  right: 100%;
}

.timeline .timeline-launch .timeline-box::after,
.timeline .timeline-launch .timeline-box::before {
  left: 50%;
  margin-left: -10px;
}

.timeline .timeline-box::after {
  top: 26px;
  border-color: transparent transparent transparent #ffffff;
  border-width: 10px;
}

.timeline .timeline-box::before {
  top: 25px;
  border-color: transparent transparent transparent #dddddd;
  border-width: 11px;
}

.timeline .row.timeline-right .timeline-box::after {
  border-color: transparent #ffffff transparent transparent;
}

.timeline .row.timeline-right .timeline-box::before {
  border-color: transparent #dddddd transparent transparent;
}

.timeline .timeline-launch .timeline-box::after {
  top: -20px;
  border-color: transparent transparent #dddddd transparent;
}

.timeline .timeline-launch .timeline-box::before {
  top: -19px;
  border-color: transparent transparent #ffffff transparent;
  border-width: 10px;
  z-index: 1;
}

.timeline .timeline-box .timeline-icon {
  position: relative;
  width: 40px;
  height: auto;
  float: left;
}

.timeline .timeline-icon i {
  font-size: 25px;
  color: #4f84c4;
}

.timeline .timeline-box .timeline-text {
  position: relative;
  width: calc(100% - 40px);
  float: left;
}

.timeline .timeline-launch .timeline-text {
  width: 100%;
}

.timeline .timeline-text h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.timeline .timeline-text p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .timeline .timeline-continue::after {
    left: 40px;
  }

  .timeline .timeline-end,
  .timeline .timeline-start,
  .timeline .timeline-year,
  .timeline .row.timeline-left,
  .timeline .row.timeline-right .timeline-date,
  .timeline .row.timeline-right,
  .timeline .row.timeline-left .timeline-date,
  .timeline .timeline-launch {
    text-align: left;
  }

  .timeline .row.timeline-left .timeline-date::after,
  .timeline .row.timeline-right .timeline-date::after {
    left: 47px;
  }

  .timeline .timeline-box,
  .timeline .row.timeline-right .timeline-date,
  .timeline .row.timeline-left .timeline-date {
    margin-left: 55px;
  }

  .timeline .timeline-launch .timeline-box {
    margin-left: 0;
  }

  .timeline .row.timeline-left .timeline-box::after {
    left: -20px;
    border-color: transparent #ffffff transparent transparent;
  }

  .timeline .row.timeline-left .timeline-box::before {
    left: -22px;
    border-color: transparent #dddddd transparent transparent;
  }

  .timeline .timeline-launch .timeline-box::after,
  .timeline .timeline-launch .timeline-box::before {
    left: 30px;
    margin-left: 0;
  }
}
.howItIMg img {
  width: 60%;
  object-fit: cover;
}
.howItIMg {
  margin: auto;
  text-align: center;
}

.grid-70-30 {
  display: grid;
  grid-template-columns: 70% 30%;
}
.get_form_inner {
  display: block;
  padding: 50px 40px;
  background: #fff;
  box-shadow: -4px -2px 20px -7px #cfd5df;
}
.froms input[type="text"],
.froms input[type="text"],
.froms input[type="email"],
.froms input[type="tel"] {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  height: 42px;
  padding: 0 0 0 20px;
  width: 100%;
  outline: 0;
}
.grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-full {
  margin: 20px 0;
}
textarea {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  padding: 12px 0 0 20px;
  width: 100%;
  outline: 0;
  margin-bottom: 20px;
}
.get_form_inner_text h3 {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}
input[type="submit"] {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid;
  font-weight: 500;
  padding: 10px 20px;
  outline: 0;
  cursor: pointer;
  color: #103e65;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.froms input[type="submit"]:hover {
  background-color: #f85508;
  border-color: #f85508;
  color: #fff;
}
.get_say_form {
  display: inline-block;
  padding: 45px 0 25px 30px;
  background: #bd8e94;
  position: relative;
}
.get_say_form h5 {
  color: #fff;
  font-size: 26px;
  margin: 0 0 40px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.get_say_social-icn {
  display: flex;
  position: absolute;
  bottom: 40px;
}
.get_say_social-icn a {
  font-size: 22px;
  color: #fff;
  padding: 0 20px 0 0;
}
.get_say_info_sec i {
  color: #fff;
  font-size: 32px;
}
.get_say_info_sec > li {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  margin-bottom: 40px;
}
.get_say_info_sec > li a {
  width: 100%;
  display: block;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  text-decoration: unset;
  font-weight: 500;
  background: #424b54;
  border-radius: 5px 0 0 5px;
  transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.get_say_info_sec > li a:hover {
  background-color: #f85508;
}

.contactUsPage {
  padding: 100px 0px;
}
.section-services .header-section {
  margin-bottom: 35px;
}

.section-services .header-section .title {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.section-services .header-section .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: #f70037;
}

.section-services .header-section .title:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 3px;
  background-color: #f70037;
}

.section-services .header-section .title span {
  color: #f70037;
}

.section-services .header-section .description {
  color: #6f6f71;
}

.section-services .single-service {
  margin-top: 40px;
  background-color: #424b54;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.section-services .single-service .part-1 {
  padding: 40px 40px 25px;
  border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
  margin-bottom: 25px;
  font-size: 50px;
  color: #dda9b0;
}

.section-services .single-service .part-1 .title {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}

.section-services .single-service .part-2 {
  padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
  margin-bottom: 0;
  color: #cccccc;
  font-size: 14px;
  line-height: 1.8em;
}

.section-services .single-service .part-2 a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.section-services .single-service .part-2 a i {
  margin-right: 10px;
  color: #bc8d93;
}
.section-services {
  padding-top: 110px;
  padding-bottom: 120px;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #fff;
}
.testimonials {
  padding: 100px 0 8rem;
  background-image: url("https://img.freepik.com/free-photo/3d-render-display-background-with-grunge-smoky-room-interior-with-spotlights_1048-14520.jpg?w=740&t=st=1674620641~exp=1674621241~hmac=d340d312b281337f982b26c43477014452d3931c7054a3ea06847edd953388ab");
  background-size: cover;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 70%);
}

.testimonial {
  background: #c35966;
  padding: 30px 32px 30px 90px;
  margin: 50px 20px 50px 120px;
  border-radius: 0 100px 100px 0;
  color: #fff;
  position: relative;
  border: 5px solid #f1f3f8;
}
.testimonial .pic {
  width: 210px;
  height: 210px;
  line-height: 200px;
  border-radius: 50%;
  border: 14px solid #fff;
  position: absolute;
  top: 50%;
  left: -120px;
  overflow: hidden;
  transform: translateY(-50%);
}
.testimonial .pic img {
  width: 100%;
  height: 100%;
}
.testimonial .testimonial-info {
  display: inline-block;
  width: 35%;
  float: left;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 28px 25px;
  margin: 0;
  border-right: 1px solid #d0ab6d;
}
.testimonial .testimonial-info small {
  display: block;
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
}
.testimonial .description {
  display: inline-block;
  width: 65%;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  padding: 28px 0 28px 28px;
  position: relative;
}
.testimonial .description:before {
  content: "\f10d";
  font-family: fontawesome;
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 20px;
  color: #d2d2d2;
}
.testimonial .description:after {
  content: "\f10e";
  font-family: fontawesome;
  font-size: 20px;
  color: #d2d2d2;
  position: absolute;
  bottom: 5px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page span {
  width: 25px !important;
  height: 7px !important;
  background: #4d241c !important;
  box-sizing: content-box;
}
.owl-theme .owl-controls .owl-page span {
  border: 4px solid transparent;
  background: #d0ab6d !important;
}
@media only screen and (max-width: 767px) {
  .testimonial {
    border-radius: 40px;
    margin: 90px 15px 0;
    padding: 100px 40px 30px 40px;
  }
  .testimonial .pic {
    position: absolute;
    top: -85px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .testimonial .testimonial-info {
    width: 100%;
    float: none;
    border-right: none;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .testimonial .description {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .testimonial {
    padding: 100px 30px 30px;
  }
}
.aplicationTyp i {
  color: #be8d93;
  font-size: 30px;
}
.nots {
  color: #fdafaf;
  margin-bottom: 0;
  font-size: 14px;
}
