:root {
  --them_primaryColor: #93A8AC;
  --them_button_color: #93A8AC;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 300 !important;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  padding: 0;
  margin: 0;
  list-style: none; 
}
.header {
  background-color: #424b54;
  padding: 15px 0;
  border-bottom: 1px solid var(--them_primaryColor);
}
.loginBtn {
  background-color: var(--them_primaryColor);
  border: none;
  padding: 10px 31px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 8px 0px 0px #fff;
  color: #000 !important;
  text-decoration: none;
  line-height: 47px;
}
.headertp {
  border-bottom: 1px solid var(--them_primaryColor);
}
.headermain {
  background:rgb(155, 106, 108, 86%);
  padding-bottom: 12px;
}
.headerMenu ul li {
  display: inline-block;
}
.headerMenu ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 24px 15px 0px;
}
.rightMenu ul li{
  display: inline-block;
}
.rightMenu ul li a{
  margin-top: 10px;
  display: inline-block;
  padding: 8px 15px;
  color: #fff;
}
.bannerHome{
  background:url("../images/banner.jpg");
  padding: 50px 0 80px;
  background-size: cover;
}
.bannerSec{
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #e2e2e2;
}
.bannerWlcomeHeading {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-weight: 500;
  font-family: "Jost", sans-serif;
}
.bannnercolorHaed{
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  margin-bottom: 48px;
}
.commonColor{
  color: #000;
}
.bannerText{
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  font-weight: 300;
  font-family: "Jost", sans-serif;
}
.bannerBtn{
  background-color:#424B54;
  color: #fff !important;
  padding: 6px 31px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 8px 0px 0px var(--them_primaryColor);
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}
.bannerimg{
  width: 100%;
  object-fit: contain;
  height: 400px;
}
.searchSec{
  background:rgba(209, 189, 159, 50%);
  padding: 10px;
}
.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  width: 100%;
}

.search {display: inline-block;}

.search input {
  width: 100%;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 30px 0;
}
.search input:focus{
  outline: none;
}
.search input { text-indent: 32px;}
.search i { 
  position: absolute;
  left: auto;
  right: 25px;
  top: 20px;
  font-size: 30px;

}

.search i {left: auto; right: 10px;}

/* .userSection{
  background-color: #fff;
} */
.usertypeBox{
  background-color: #93A8AC;
  border-bottom: 5px solid var(--them_primaryColor);
  padding: 10px;
  margin-top: 5rem;
  transition: all 0.5ms;
}
.usertypeBox span{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px dashed #fff;
  height: 230px;
  border-radius: 5px;
  transition: all 0.5ms;
  flex-direction: column;
}
.usertypeBox span a{
  font-size: 33px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Jost";
  text-decoration: none;
  transition: all 0.5s;
}

.userBtn{
  opacity: 0;
  transition: all 0.5s ease-out;
  margin-bottom: -169px;
}
.usertypeBox:hover .userBtn{
  opacity: 1;
  margin-bottom: 0;
  transition: all 0.5s;
  
}
.sellerBox{
 
  transition: 0.5s;
  overflow: hidden;
}
.sellerBox span {
  border: 3px dashed #000;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.5s;
}
.sellerBox span a{
  color: #000;
}
.userBtn a{
  font-size: 15px !important;
  background: #000;
  display: inline-block;
  margin-left: 15px;
  color: #fff !important;
  padding: 5px 20px;
  border-radius: 7px;
  text-transform: uppercase;
}
.partner{
  background-color: #fff;
  padding: 50px 0 70px;
}
.partnerHeading{
  font-size: 36px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  text-align: center;
}
.ourStory{
  background-color: #f1f3f8;
  padding: 100px 0px;
}
.ourStoryCont h2{
  font-size: 45px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  font-family: "Jost", sans-serif;
}
.ourImgSec{
  background-color: #000000;
  border-radius: 50px 0px 50px 20px;
  box-shadow: 55px -60px 6px var(--them_primaryColor);
  margin-top: 5rem;
}
.ourImgSec img{
  width: 100%;
  margin-right: 0;
  box-shadow: 34px -40px 0px #000;
  border-radius: 50px 0px 50px 20px;
}
.footer{
  background-color: #424B54;
  padding: 100px 0px 20px;
}
.footer img{
  width: 100%;
  object-fit: contain;
}

.fotterMenu ul li{
  display: inline-block;
}
.fotterMenu ul li a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0px 22px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}
.fooetrInput{
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 7px 0px 16px;
}
.fooetrInput:focus{
  outline: none;
}
.fooetrInput::-webkit-input-placeholder{
  color: #fff;
  font-family: "Jost", sans-serif;
}
.userTextFoter{
  color: #f1eae0;
  font-family: "Jost", sans-serif;
  margin-bottom: 0;
}
.socilIcon li{
  display: inline-block;
  color: #fff;
}
.socilIcon li a{
  display: inline-block;
  color: #fff;
  padding: 10px 26px;
  font-size: 28px;
}
.getTouch{
  background:url("../images/contactimg.png");
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.getTouch::before{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(200, 174, 135, 80%);
  content: "";
  width: 100%;
}
.conatctInput{
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 24px 15px;
}
.conatctInput:focus{
  outline: none;
}
.sendMessage{
  background-color: #000000;
  padding: 15px 20px;
  color: #fff;
  font-family: "Jost", sans-serif;
  margin-top: 3rem;
  font-size: 23px;
}
.countSec{
  position: relative;
}
.countBang{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--them_primaryColor);
  border-radius: 50%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginSec{
  background:url("../images/banner.jpg");
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.bannerSec img{
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.loginSec{
	margin: 0;
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
	font-family: 'Jost', sans-serif;
	/* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
}
.main{
	width: 350px;
  height: 643px;
  background: rgb(147, 168, 171, 86%);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
  height: 750px;
  top: 17px;
}
.signup label{
  margin-top: 0;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 15px 0px 0px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.main input{
  width: 70%;
  height: 37px;
  background: #f9f9f9;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.customBtn {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.customBtn:hover{
	background: #6d44b8;
}
.login{
  height: 616px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}
.loginCont{
  margin-top: 8rem;
}

#chk:checked ~ .login{
	transform: translateY(-686px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.forgotPass{
  color: red;
  text-transform: capitalize;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 2rem;
}
.disableBtn{
  color: #8f8f93;
  cursor: no-drop;
  background-color: #515151;
}

.formErrorAlrt {
  font-size: 12px;
  margin: 0;
  color: #ac0000;
}

.signup .formErrorAlrt {
  font-size: 12px;
  color: #bd1212;
  width: 70%;
  margin: auto;
}
.mobileNumber{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileCode{
  width: 70px;
  height: 38px;
  border-radius: 5px 0px 0px 5px;
}
.mobileNumberF{
  margin: 3px 3px 3px 0 !important;
  width: 50% !important;
  border-radius: 0px 6px 6px 0px !important;
}
.userType{
  display: flex;
  justify-content: center;
  align-items: center;
}
.redioBtn{
  width: 17px !important;
  margin: 0px 14px !important;
}
.userType label{
  font-size: 15px;
  margin-top: 0;
}
.headingSing{
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-top: 5rem;
}
.verification{
  height: auto !important;
}
.resend{
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-top: 1rem;
}
.message{
  color: greenyellow;
  text-align: center;
}
.forgot label{
  color: #000;
}
.forgotOtp{
  justify-content: center;
}
.userDashboard{
  padding: 100px 0px;
  background: #637c96;
}
.userSideBar{
  border-right: 1px solid #ccc;
}
.userSideBar li{
  display: block;
}
.userSideBar li a{
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  margin-bottom: 20px;
  padding: 20px 5px;
}
.userSideBar li a span{
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: var(--them_primaryColor);
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.tabs-left {
  border-bottom: none;
  border-right: 1px solid #ddd;
}

.tabs-left>li {
  float: none;
 margin:0px;
  
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background:#f90;
  border:none;
  border-radius:0px;
  margin:0px;
}
.nav-tabs>li>a:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    /* border-radius: 4px 4px 0 0; */
}
.tabs-left>li.active>a::after{content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f90;
    display: block;
    width: 0;
  }

  .bannerSec .nav-link {
    margin-bottom: 25px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    text-align: left;
    color: #000;
    background: whitesmoke;
  }
  .bannerSec .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: tomato;
  }

  .bannerSec .nav-pills {
    border-right: 1px solid #ccc;
    padding-right: 20px;
  }
.bannerSec  .tab-content{
  width: 70%;
}
.bannerSec  .tab-content label{
  color: #787171;
  font-size: 15px;
  text-align: left;
  display: block;
}
.menuHading{
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 500 !important;
}
.menufecHeading{
  margin-top: 1rem;
  color: var(--them_primaryColor);
  
}
.menuimgBox{
  box-shadow: 0px 0px 15px #ccc;
  border-radius: 7px;
  background: #424b54;
  padding: 6px;
  margin-bottom: 20px;
  height: 200px;
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuimgBox img{
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.menuimgBox .form-check-input{
  width: 20px;
  height: 20px;
}
.logo img{
  width: 100%;
}
.logout{
  background-color: red !important;
  color: #fff !important;
  text-align: center !important;
}
.userBadsg{
  background-color: #424b54;
  padding: 50px 0;
}
.react-responsive-modal-modal .modal-content{
  width: 500px;
  border: none;
}
.editPro .mobileNumberF{
  width: 80% !important;
  padding: 7px;
  border: 1px solid #ced4da;
}
.enquery{
  background: #a17335;
  color: #fff !important;
}
.enqLable{
  font-size: 15px;
  color: #625f5f;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}
.checkBox{
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.checkBOx{
  width: 33px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 5px 4px;
  cursor: pointer;
}
.seacrhBoxSr{
  border-radius: 50px;
  padding: 6px 15px;
  border: none;
  width: 100%;
  transition: 0.5s;
}
.seacrhBoxSr:focus{
  outline: none;
}
.searchBox{
  width: 70%;
  transition: 0.5s;
}
.checkBOx i{
  color: red;
}